ul.main-area__content-list
    li.main-area__content-list-item
        .main-area__content-list-count
            span.main-area__content-list-count-count 4
            span.main-area__content-list-count-text Этаж
    li.main-area__content-list-item
        .main-area__content-list-checked
            .main-area__content-list-checked-indicator
            span.main-area__content-list-checked-text Отделка
    li.main-area__content-list-item
        .main-area__content-list-checked
            .main-area__content-list-checked-indicator
            span.main-area__content-list-checked-text Мебель
    li.main-area__content-list-item ПАРКИНГ: подземный
