footer.main-area__footer
    p.main-area__footer-title Отдел продаж
    ul.main-area__footer-list
        li.bold +7 (495) 154 32 24
        li.brand sales@aeoncity.ru

    p.main-area__footer-email www.aeoncity.ru