extends ../components/layout

block content
    include ../components/header
    +header(1, 3)
    .main-area__content
        p.main-area__favorite fl 234
        p.main-area__category Продажа
        p.main-area__price 14 320 000 р.
        p.main-area__title 2-комн. квартира 89,9 кв.м.
        p.main-area__place Ул Усачева, 14, ЦАО, район Хамовники. Метро Фрунзенская, Парк Культуры
        include ../components/content-list
    .main-area__description
        p Предлагается к продаже 3-комн. квартира 89,9 м2 на 12 этаже в элитном ЖК "Садовые кварталы", расположенном в районе Хамовники. Комплекс расположен на благоустроенной огороженной територии 5 Га, имеющей все необходимое для комфортного проживания. Пространство свободно от автомобилей, детские и спортивные площадки, скверы. В комплексе предусмотрен детский сад, медцентр, банк, пекарни, кафе, салон красоты, супермаркет, фитнес центр с тремя бассейнами и много других полезных объектов инфраструктуры.
        p Автор архитектурного проекта - Никита Бирюков. Здания комплекса отделаны светлым юрским мрамором, украшены резьбой.
        p 2-х уровневый подземный паркинг расчитан на 1900 машиномест.
        p Функциональная планировка квартиры: гостиная, 4 спальни, гардеробная, 4 санузла, 3 лоджии, балкон. Окна квартиры выходят на две стороны.