extends ../components/layout

block content
    include ../components/header
    +header(3, 3)
    .main-area__content
        p.main-area__favorite fl 234
        p
            span.uppercase ПРОДАЖА
            span.bold  14 320 000 Р
        p
            strong 2
            | -комн. квартира
            strong  89,9
            |  кв.м.
        p Ул Усачева, 14, ЦАО, район Хамовники. Метро Фрунзенская, Парк Культуры
    p.main-area__title Планировка
    .main-area__group
        img(src="static/img/image.svg" class="main-area__group-image")
        img(src="static/img/image.svg" class="main-area__group-image")
        img(src="static/img/image.svg" class="main-area__group-image")