.main-area {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    &-logo {
      height: 26px;
    }
    &-count {
      &-total {
        color: $brand;
      }
      &-divider {
        margin-left: 2px;
        margin-right: 2px;
      }
    }
  }
}